<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Relatórios</title> 
    </head>
     <body>
        <h1>Bem-vindo, <%= user.username %> (Fornecedor)</h1> 
        <p>Esta é a página de relatórios.</p> 
        <br>
        <br>
        <iframe title="Relatório - OS por tipo de agente" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f84c3874-5cb1-424b-990c-d5203cdd5b96&autoAuth=true&ctid=eb75d0ca-511f-4a9e-94a7-4dc7848b10a7" frameborder="0" allowFullScreen="true"></iframe>
        <a href="/logout">Logout</a> 
    
    </body> 
    </html>